@use "colors.scss" as *;
@use "mixins.scss" as *;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em;
	min-height: 100vh;
	font-family: "Montserrat", sans-serif;
	background-image: linear-gradient(315deg, #045de9 0%, #4faaff 74%);
	//background-color: rgb(245, 245, 245);
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0)
	);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background-color: #f7f7f7;
	//background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
	//background-image: linear-gradient(to right, #00b4db, #0083b0);
}

.todo {
	position: relative;
	background-color: #ffffff;
	font-size: 1.6rem;
	box-shadow: 3px 3px 10px #292929;
	border-radius: 8px;
	//max-width: 974px;
	overflow: hidden;
	&__error {
		max-width: 250px;
		margin-top: 0.5em;
		font-size: 1.4rem;
		color: red;
		word-wrap: break-word;
	}
	&__header {
		position: relative;
		padding: 4.5em;
		margin-bottom: 3.5em;
		background: radial-gradient(#045ce9, #1a80df) repeat;
		background: linear-gradient(340deg, #0495e9 0%, #09c5f9 100%);
		text-align: center;
	}
	&__header-btns {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	&__header-btn-logo {
		width: 135px;
		height: 135px;
		border: 5px solid $pure-white;
		border-radius: 50%;
		background: linear-gradient(340deg, #0495e9 0%, #09c5f9 100%);
		color: $black;
		font-size: 8rem;
		cursor: pointer;
		z-index: 1;
		animation: pulse 1.5s ease-in-out infinite;
	}
	&__header-btn-stop-animation {
		animation-play-state: paused;
	}
	&__header-btns-right {
		display: flex;
		position: absolute;
		top: 80px;
		left: 135px;
		transform: translateX(-132px);
		opacity: 0;
		transition: transform 0.5s, opacity 0.3s;
		z-index: -1;
	}
	&__header-btns-left {
		display: flex;
		position: absolute;
		top: 80px;
		right: 135px;
		transform: translateX(132px);
		opacity: 0;
		transition: transform 0.5s, opacity 0.3s;
		z-index: -1;
	}
	&__header-btns-show {
		transform: translateX(0);
		opacity: 1;
		z-index: 0;
	}
	&__header-btn {
		margin: 0 0.5em;
		width: 50px;
		height: 50px;
		border: none;
		border-radius: 50%;
		font-size: 2.4rem;
		cursor: pointer;
		color: $pure-white;
		&--add {
			background-color: mediumseagreen;
		}
		&--remove {
			background-color: tomato;
		}
		&--find {
			background-color: royalblue;
		}
		&--sort {
			background-color: coral;
		}
	}

	&__header-btn--sort {
		transition: transform 0.3s;
	}
	&__resize {
		animation: resizeButtons 0.4s linear;
	}
	&__rotate {
		transform: rotate(180deg);
	}
	&__header-title {
		padding-top: 2em;
	}

	&__search-area-box {
		position: relative;
		transform: translateX(100%);
		&::before {
			position: absolute;
			top: 50%;
			left: 45px;
			transform: translate(-50%, -50%);
			font-family: "FontAwesome";
			content: "\f002";
		}
		&-show {
			transform: translateX(0);
		}
	}
	&__search-engine {
		padding: 0.6em 2.4em;
		width: 100%;
		border-radius: 8px;
		border: 1px solid #999;
		font-size: 1.4rem;
	}

	&__table {
		max-height: 974px;
		min-width: 990px;
		border-collapse: collapse;
		tr:not(.todo__table-header-row) {
			border-top: 1px solid #727272;
		}
		th,
		td {
			padding: 1.5em;
		}
		th {
			padding-top: 0.5em;
		}

		td {
			transition: transform 0.3s;
		}
	}
	&__table-body {
		text-align: center;
	}

	&__todo__table-input-name,
	&__table-input-task {
		position: relative;
	}
	&__error-name {
		@include errorStyles();
		left: 50%;
	}
	&__error-task {
		@include errorStyles();
		left: 50%;
	}
	&__error-task-show {
		display: block;
	}
	&__table-row:not(.todo__table-header .todo__table-row),
	&__table-row-inputs {
		transition: background-color 0.3s;
		&:nth-child(odd) {
			background-color: rgba(79, 170, 255, 0.1);
		}
		&:hover {
			background-color: rgba(79, 170, 255, 0.5);
			td:not(td::before) {
				transform: scale(0.98);
			}
			.todo__table-cell-name::before {
				transform: scaleY(1);
			}
			.todo__table-btn {
				opacity: 1;
			}
		}
	}
	&__table-row-inputs {
		img {
			margin-right: 0.8em;
		}
	}
	&__table-row-hide {
		display: none;
	}
	&__table-header {
		position: relative;
		text-transform: uppercase;
	}
	&__table-header-row:first-child {
		border: none;
	}
	&__table-cell-name {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 4px;
			height: 100%;
			background-color: #4faaff;
			transform: scaleY(0);
			transition: transform 0.3s;
		}
	}
	&__table-cell-name-box {
		display: flex;
		align-items: center;
		p {
			margin-left: 0.8em;
		}
	}
	&__table-cell-img {
		justify-self: flex-start;
		width: 48px;
		height: 48px;
	}

	&__table-btn {
		margin: 0 0.45em;
		padding: 0.4em 0.9em;
		border: none;
		border-radius: 16px;
		font-size: 1.5rem;
		cursor: pointer;
		opacity: 0;
		transition: opacity 0.4s;
		&--complete {
			background-color: #4faaff;
		}
		&--edit {
			background-color: royalblue;
		}
		&--remove {
			background-color: tomato;
		}
		&--add,
		&--save {
			background-color: mediumseagreen;
		}
		&--cancel {
			background-color: tomato;
		}
	}
	&__btn {
		padding: 0.4em 0.9em;
		border: none;
		// font-size: 1.4rem;
		border-radius: 16px;
		text-transform: uppercase;
		color: $pure-white;
		&--high {
			background-color: tomato;
		}
		&--medium {
			background-color: royalblue;
		}
		&--low {
			background-color: mediumseagreen;
			//background: linear-gradient(90deg,#3cb371,rgb(76, 230, 199));
		}
		&--complete {
			//color: #6d6d6d;
			text-decoration: line-through;
			text-decoration-color: #6d6d6d;
			font-style: italic;
		}
	}
	&__pagination {
		display: flex;
		justify-content: space-between;
		padding: 1.2em;
		font-size: 1.5rem;
		border-top: 1px solid #727272;
	}
	&__pagination-list {
		display: flex;
		list-style-type: none;
	}
	&__pagination-list-item {
		margin: 0 0.2em;
		padding: 0 0.5em;
		cursor: pointer;
		border-radius: 4px;
		transition: background-color 0.3s;
		&:hover {
			background-color: rgba(79, 170, 255, 0.5);
		}
		&[disabled] {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}
	&__pagination-list-item-active {
		background-color: rgba(79, 170, 255, 0.5);
	}
	&__pagination-list-item-found {
		background-color: rgba(79, 170, 255, 0.5);
	}
	&__pagination-list-item-hide {
		display: none;
	}

	input:not(.todo__search-engine) {
		padding: 0.5em 1em;
		font-size: 1.4rem;
		border-radius: 8px;
		border: 1px solid #999;
		&:nth-child(2) {
			width: 64%;
		}
	}
	select {
		padding: 0.4em 0.2em;
		border: 1px solid #999;
		border-radius: 8px;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.3rem;
	}
}

.popup {
	position: absolute;
	top: -100%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 200px;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 2px 3px 10px #2e2e2e;
	transition: top 0.6s;
	z-index: 1;

	&-show {
		top: 50%;
	}
	&__top {
		position: relative;
		display: flex;
		justify-content: center;
		padding: 5.4em;
		background-color: #ff8569;
	}
	&__top-circle {
		position: absolute;
		top: 67px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80px;
		height: 80px;
		font-size: 3.4rem;
		background-color: tomato;
		color: white;
		border: 4px solid white;
		border-radius: 50%;
	}
	&__bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2.5em 2em;
		background-color: white;
	}
	&__bottom-title {
		margin-top: 1em;
		font-size: 2.1rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	&__bottom-text {
		margin: 1.2em 0;
		font-size: 1.6rem;
	}
	&__bottom-buttons {
		margin-top: 0.2em;
		display: flex;
	}
	&__bottom-button {
		position: relative;
		margin: 0 0.8em;
		padding: 0.7em 1.4em;
		font-size: 1.6rem;
		font-weight: bold;
		border: 2px solid $pure-white;
		border-radius: 8px;
		color: white;
		cursor: pointer;
		overflow: hidden;
		z-index: 1;
		transition: color 0.5s, border 0.5s;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			clip-path: polygon(0 0, 0 0, 0 0);
			transition: all 0.5s cubic-bezier(0.37, 1.14, 0.26, 1.24);
		}
		&::before {
			clip-path: polygon(0 0, 0 0, 0 0);
		}
		&:hover::before {
			clip-path: polygon(0 0, 0 102%, 102% 0);
		}
		&::after {
			clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
		}
	
		&:hover::after {
			clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
		}
		&--confirm {
			background-color: mediumseagreen;
			&::before,
			&::after {
				//background-color: #1aa150;
				//background-image: linear-gradient(to right, #434343 0%, black 100%);
				background-color: $pure-white;
			}
			&:hover{
				border: 2px solid mediumseagreen;
			}
		}
		&--cancel {
			background-color: tomato;
			&::before,
			&::after {
				//background-color: #dd4125;
				//background-image: linear-gradient(to right, #434343 0%, black 100%);
				background-color: $pure-white;
			}
			&:hover{
				border: 2px solid tomato;
			}
		}
		&:hover{
			color: $black;
		}
	}
}
.shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 0;
	opacity: 0;
	transition: opacity 0.6s;
	z-index: -1;
	&-show {
		opacity: 1;
		z-index: 0;
	}
}
.show-popup {
	visibility: visible;
	top: 50%;
	.todo__popup {
		z-index: -2;
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.03);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes moveButtons {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes resizeButtons {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.91);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes showSearchEngine {
	from {
		transform: translate(100%);
	}
	to {
		transform: translate(0);
	}
}
